/* unvisited link */

a:link {
    color: grey;
    text-decoration: none;
}


/* visited link */

a:visited {
    color: grey;
    text-decoration: none;
}


/* mouse over link */

a:hover {
    color: rgb(55, 255, 0);
    text-decoration: underline;
}


/* selected link */

a:active {
    color: red;
    text-decoration: none;
}

body {
    background-color: #F5F5F5;
    height: 100%;
    width: 100%;
    margin: 0%;
    padding: 0%;
}

header {
    display: flex;
    background-color: #F5F5F5;
    font-family: 'Colfax';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
}

ul {
    display: flex;
    color: #000000;
}

li {
    font-family: 'Colfax';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    margin-top: 40px;
    margin-left: 30px;
    list-style: none;
}

#logo {
    height: 102px;
    width: 102px;
    margin: 28px 30px 28px 151px;
}

.butten_g {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    gap: 10px;
    font-family: 'Colfax';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    margin: 0px 0px 0px 450px;
}

main {
    display: flexbox;
    flex-wrap: wrap;
    height: 100%;
}

#main1 {
    display: flex;
}

#main1a {
    height: 446px;
    width: 759px;
    padding: 0px;
    margin: 0;
    text-decoration: none;
    text-align: center;
    text-justify: center;
}

#main1b {
    height: 556px;
    width: 759px;
    padding: 0px;
    margin: 0;
}

#p1 {
    margin: 0px;
    margin-top: 100px;
    font-family: 'Colfax';
    font-style: normal;
    font-weight: 403px;
    font-size: 96px;
    line-height: 115px;
    width: 700px;
    text-transform: uppercase;
    text-align: center;
}

#p2 {
    margin: 0px;
    padding: 0%;
    font-style: normal;
    font-weight: 403px;
    font-size: 30px;
    line-height: 36px;
    width: 600px;
    text-transform: uppercase;
    margin-left: 80px;
}

#learn_more {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    gap: 10px;
    width: 179px;
    height: 40px;
    font-family: 'Colfax';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    background-color: red;
    text-transform: uppercase;
    margin: 0px 0px 0px 300px;
}

#main2 {
    display: flex;
}

#main2a {
    background-image: url(images/Rectangle\ 2.png);
    height: 446px;
    width: 759px;
    padding: 0px;
    margin: 0;
}

#main2b {
    background-image: url(images/Rectangle\ 3.png);
    height: 446px;
    width: 759px;
    padding: 0px;
    margin: 0px;
    text-align: center;
}

#p3 {
    margin: 0px;
    margin-top: 135px;
    line-height: 115px;
    font-family: 'Italian Plate No2';
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 80px;
    text-transform: uppercase;
}

#p4 {
    margin: 0px;
    padding: 0%;
    line-height: 36px;
    font-family: 'Italian Plate No2';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;
    text-transform: uppercase;
}

#p5 {
    width: 450px;
    margin: auto;
    padding: 0%;
    text-align: left;
    font-family: 'Colfax';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: justify;
    text-justify: inter-word;
}


/*main 3*/

#main3 {
    display: flex;
    flex-direction: column;
    justify-items: center;
    margin: 156px 145px 117px 135px;
    padding: 0px;
    width: 1232px;
    height: 476px;
}

#main3_top {
    display: flex;
    justify-content: space-between;
    justify-items: center;
}

#data_from_trusted_source {
    /* Data From Trusted Sources */
    width: 583px;
    height: 47px;
    font-family: 'Colfax';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    /* or 125% */
    text-transform: uppercase;
    color: #000000;
}


/* BUTTON */

#main3_btn {
    margin-left: 500px;
    height: 50px;
    width: 150px;
    background: #ffffff;
    border: 1px solid #000000/* BUTTON */
}

#main3b {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 23px;
    color: white;
}

#main3b_a {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 600px;
    height: 450px;
}

#main3b_a1 {
    width: 266px;
    height: 204px;
    /* pragraph - 18 25 */
    font-family: 'Colfax';
    font-style: normal;
    font-weight: 400px;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
    margin-right: 50px;
}

#main3b_a2 {
    width: 266px;
    height: 204px;
    /* pragraph - 18 25 */
    font-family: 'Colfax';
    font-style: normal;
    font-weight: 400px;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
}

#main3b_a3 {
    width: 266px;
    height: 204px;
    /* pragraph - 18 25 */
    font-family: 'Colfax';
    font-style: normal;
    font-weight: 400px;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
    margin-right: 50px;
}

#main3b_a4 {
    width: 266px;
    height: 204px;
    /* pragraph - 18 25 */
    font-family: 'Colfax';
    font-style: normal;
    font-weight: 400px;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
}

#main3b_b {
    margin-top: 50px;
    width: 450px;
    height: 350px;
    background: rgba(217, 217, 217, 0.4);
    padding-left: 80px;
}

#line {
    height: 5px;
    background: #10827B;
}

#features {
    width: 109px;
    height: 36px;
    background: #10827B;
    margin-left: 300px;
}

#f_image_health {
    width: 64px;
    height: 64px;
}

#main3c_text {
    width: 266px;
    height: 204px;
    /* pragraph - 18 25 */
    font-family: 'Colfax';
    font-style: normal;
    font-weight: 400px;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
}

#main4 {
    background-color: black;
    display: flex;
    flex-direction: column;
    height: 700px;
}

#health_ranking_report {
    margin-left: 80px;
    font-size: 50px;
    color: white;
}

#section4 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 450px;
    padding: 20px 0 0 150px;
}


/* start section 4_1*/

#section4_1 {
    background-color: #00FFD9;
    width: 360px;
    height: 480px;
}

.black_rectangle {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: black;
    color: red;
    width: 100%;
    height: 250px;
}

#rectangle4_1_1 {
    width: 35px;
    height: 42px;
    background-color: #00FFD9;
    margin: 90px 0 0 0;
}

#rectangle4_1_2 {
    background-color: #00FFD9;
    width: 67px;
    height: 100px;
    margin: 197px 0 0 100px;
}

#rectangle4_1_3 {
    width: 85px;
    height: 100px;
    background-color: #00FFD9;
    color: black;
    margin: 0px 0 0 180px;
}


/* End section 4_1*/


/* start section 4_2*/

#section4_2 {
    margin-left: 70px;
    margin-right: 70px;
    background-color: #00FFD9;
    width: 360px;
    height: 480px;
}

.black_rectangle {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: black;
    color: red;
    width: 100%;
    height: 250px;
}

#rectangle4_2_2 {
    margin-left: 125px;
    background-image: url(images/box_image-2.png);
    width: 233px;
    height: 250px;
}

#rectangle4_2_3 {
    width: 47px;
    height: 32px;
    background-color: #00FFD9;
    color: black;
    margin: 153px 0 60px 60px;
}

#rectangle4_2_4 {
    margin: 0px 0px 0 170px;
    width: 67px;
    height: 65px;
    background-color: #00FFD9;
    color: black;
}


/* End section 4_2*/


/* start section 4_3*/

#section4_3 {
    background-color: #00FFD9;
    width: 360px;
    height: 480px;
}

.black_rectangle {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: black;
    color: red;
    width: 100%;
    height: 250px;
}

#rectangle4_3_1 {
    width: 124px;
    height: 76px;
    background-color: #00FFD9;
    color: black;
}

#rectangle4_3_2 {
    background-image: url(images/Rectangle\ 17.png);
    width: 233px;
    height: 250px;
}

#rectangle4_3_3 {
    width: 16px;
    height: 43px;
    background-color: #00FFD9;
    color: black;
    margin-top: 100px;
}

#rectangle4_3_4 {
    margin: 196px 0 0 80px;
    width: 64px;
    height: 54px;
    background-color: #00FFD9;
    color: black;
}

.p_section_head {
    width: 290px;
    height: 60px;
    font-family: 'Actor';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 30px;
    text-transform: uppercase;
    color: #000000;
    margin-left: 30px;
}

.p_section_head_content {
    width: 295px;
    height: 123px;
    font-family: 'Acme';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
    text-align: left;
    margin-left: 30px;
}


/* End section 4_3*/


/* ---------FOOTER------------*/

footer {
    display: flex;
    flex-direction: row;
    height: 420px;
    background-color: black;
}

#section1_footer {
    margin: 0 100px 77px 100px;
    padding: 0px;
    width: 300px;
    color: white;
}

#section1_footer ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 369px;
}

#section2_footer {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 0 0 0 30px;
    width: 400px;
}

#section3_footer {
    margin: 0 130px 0 145px;
    width: 330px;
    text-align: right;
}

#section2_footer_image {
    width: 102px;
    height: 102px;
    margin: 180px 0 50px 128px;
}

#copywrite_span {
    height: 30px;
    font-family: 'Acme';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: #FFFFFF;
    margin: 0px;
    padding: 0px;
    text-align: center;
}

#footer_list {
    display: flex;
    flex-direction: column;
    font-family: 'Acme';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: #FFFFFF;
}

.bhcpf_button {
    height: 50px;
    width: 150px;
    background: #00FFD9;
    border: 1px solid #000000;
    /* BUTTON */
}

#section4_btn {
    margin: 100px 0 0 150px;
}

#footer_btn {
    margin-top: 150px;
    margin-left: 10px;
}

#overlaid_section4_2_1 {
    position: absolute;
    left: 590px;
    top: 2030px;
    font-family: 'Abhaya Libre SemiBold';
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 41px;
    text-transform: uppercase;
    color: #FFFFFF;
    /* identical to box height */
    text-transform: uppercase;
    color: #FFFFFF;
}

#overlaid_section4_2_2 {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 590px;
    top: 2060px;
    font-family: 'Abhaya Libre SemiBold';
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 59px;
    /* identical to box height */
    text-transform: uppercase;
    color: #FFFFFF;
}

#overlaid_section4_1_1 {
    color: #FFFFFF;
    position: absolute;
    width: 155px;
    height: 177px;
    left: 170px;
    top: 2030px;
    font-family: 'Abhaya Libre SemiBold';
    font-style: normal;
    font-weight: 600;
    font-size: 150px;
    line-height: 177px;
    /* identical to box height */
    text-transform: uppercase;
    color: #FFFFFF;
}

#overlaid_section4_1_2 {
    position: absolute;
    width: 134px;
    height: 41px;
    left: 315px;
    top: 2028px;
    font-family: 'Abhaya Libre SemiBold';
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 41px;
    text-transform: uppercase;
    color: #fbfbfb;
}

#overlaid_section4_1_3 {
    position: absolute;
    height: 41px;
    left: 315px;
    top: 2110px;
    font-family: 'Abhaya Libre SemiBold';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 41px;
    text-transform: uppercase;
    color: #FFFFFF;
}